<ion-content>
    <div style="margin: 40px;">
        <h1>
            Privacy Policy
        </h1>
        <p>
            LUIS MIGUEL BRAVO built the Mimuqui app as a Commercial app.<br>
            This SERVICE is provided by LUIS MIGUEL BRAVO and is intended for use as is.
        </p>
        <p>
            This page is used to inform visitors regarding my policies with the collection, use, and disclosure of Personal Information if anyone decided to use my Service.
        </p>
        <p>
            If you choose to use my Service, then you agree to the collection and use of information in relation to this policy. The Personal Information that I collect is used for providing and improving the Service. I will not use or share your information with anyone except as described in this Privacy Policy.
        </p>
        <p>
            The terms used in this Privacy Policy have the same meanings as in our Terms and Conditions, which is accessible at Mimuqui unless otherwise defined in this Privacy Policy.
        </p>
        <p><strong>Information Collection and Use</strong></p>
        <p>
            For a better experience, while you using my Service, I may require you to provide with certain personally identifiable information, including but not limited to date and title of events to track. The information that I request will be retained on your device and is not collected by me in any way.
        </p>
        <p>
            The app does use third party services that may collect information used to identify you.
        </p>
        <div>
            <p>
                Link to privacy policy of third party service providers used by the app
            </p>
            <ul>
                <li>
                    <a href="https://www.apple.com/legal/privacy/en-ww/" target="_blank">https://www.apple.com/legal/privacy/en-ww/</a>
                </li>
                <li>
                    <a href="https://policies.google.com/privacy" target="_blank">https://policies.google.com/privacy</a>
                </li>
            </ul>
        </div>
        <p><strong>Log Data</strong></p>
        <p>
            I want to inform you that whenever you use my Service, in a case of an error in the app I collect data and information (through third party products) on your phone called Log Data. This Log Data may include information such as your device Internet Protocol (“IP”) address, device name, operating system version, the configuration of the app when utilizing my Service, the time and date of your use of the Service, and other statistics.
        </p>
        <p><strong>Cookies</strong></p>
        <p>
            Cookies are files with a small amount of data that are commonly used as anonymous unique identifiers. These are sent to your browser from the websites that you visit and are stored on your device's internal memory.
        </p>
        <p>
            This Service does not use these “cookies” explicitly. However, the app may use third party code and libraries that use “cookies” to collect information and improve their services. You have the option to either accept or refuse these cookies and know when a cookie is being sent to your device. If you choose to refuse our cookies, you may not be able to use some portions of this Service.
        </p>
        <p><strong>Service Providers</strong></p>
        <p>
            I may employ third-party companies and individuals due to the following reasons:
        </p>
        <ul>
            <li>To facilitate the Service;</li>
            <li>To provide the Service on our behalf;</li>
            <li>To perform Service-related services; or</li>
            <li>To assist me in analyzing how the Service is used.</li>
        </ul>
        <p>
            I want to inform users of this Service that these third parties have access to your Personal Information. The reason is to perform the tasks assigned to them on our behalf. However, they are obligated not to disclose or use the information for any other purpose.
        </p>
        <p><strong>Security</strong></p>
        <p>
            I value your trust in providing me your Personal Information, thus me are striving to use commercially acceptable means of protecting it. But remember that no method of transmission over the internet, or method of electronic storage is 100% secure and reliable, and I cannot guarantee its absolute security.
        </p>
        <p><strong>Links to Other Sites</strong></p>
        <p>
            This Service may contain links to other sites. If you click on a third-party link, you will be directed to other site. Note that these external sites are not operated by me. Therefore, I strongly advise you to review the Privacy Policy of these websites. I have no control over and assume no responsibility for the content, privacy policies, or practices of any third-party sites or services.
        </p>
        <p><strong>Children’s Privacy</strong></p>
        <p>
            These Services do not address anyone under the age of 13. I do not knowingly collect personally identifiable information from children under 13. In the case I discover that a child under 13 has provided me with personal information, I immediately delete this from my servers. If you are a parent or guardian and you are aware that your child has provided me with personal information, please contact me so that I will be able to do necessary actions.
        </p>
        <p><strong>Changes to This Privacy Policy</strong></p>
        <p>
            I may update the Privacy Policy from time to time. Thus, you are advised to review this page periodically for any changes. I will notify you of any changes by posting the new Privacy Policy on this page. These changes are effective immediately after they are posted on this page.
        </p>
        <p><strong>Contact Me</strong></p>
        <p>
            If you have any questions or suggestions about my Privacy Policy, do not hesitate to contact me at LMBGOTT@GMAIL.COM
        </p>
    </div>

    <div id="castellano" style="margin: 40px;">
        <h1>
            Política de privacidad
        </h1>
        <p>
            LUIS MIGUEL BRAVO creó la aplicación Mimuqui como una aplicación comercial.<br>
            Este SERVICIO es provisto por LUIS MIGUEL BRAVO y está diseñado para usarse tal cual.
        </p>
        <p>
            Esta página se utiliza para informar a los visitantes sobre mis políticas con respecto a la recopilación, uso y divulgación de información personal si alguien decide usar mi servicio.
        </p>
        <p>
            Si elige usar mi Servicio, entonces acepta la recopilación y el uso de información en relación con esta política. La información personal que recopilo se utiliza para proporcionar y mejorar el Servicio. No usaré ni compartiré su información con nadie, excepto como se describe en esta Política de privacidad.
        </p>
        <p>
            Los términos utilizados en esta Política de privacidad tienen el mismo significado que en nuestros Términos y condiciones, a los que se puede acceder en Mimuqui a menos que se defina lo contrario en esta Política de privacidad.
        </p>
        <p><strong>Recolección de información y uso</strong></p>
        <p>
            Para una mejor experiencia, mientras usa mi Servicio, es posible que le pida que proporcione cierta información de identificación personal, que incluye, entre otros, la fecha y el título de los eventos para rastrear. La información que solicito se conservará en su dispositivo y no la recopilaré de ninguna manera.
        </p>
        <p>
            Enlace a la política de privacidad de terceros proveedores de servicios utilizados por la aplicación
        </p>
        <div>
            <p>
                Link to privacy policy of third party service providers used by the app
            </p>
            <ul>
                <li>
                    <a href="https://www.apple.com/legal/privacy/en-ww/" target="_blank">https://www.apple.com/legal/privacy/en-ww/</a>
                </li>
                <li>
                    <a href="https://policies.google.com/privacy" target="_blank">https://policies.google.com/privacy</a>
                </li>
            </ul>
        </div>
        <p><strong>Dato de registro</strong></p>
        <p>
            Quiero informarle que cada vez que utiliza mi Servicio, en caso de un error en la aplicación, recopilo datos e información (a través de productos de terceros) en su teléfono llamados Datos de registro. Estos datos de registro pueden incluir información como la dirección del Protocolo de Internet ("IP") de su dispositivo, el nombre del dispositivo, la versión del sistema operativo, la configuración de la aplicación cuando utiliza mi Servicio, la hora y la fecha de uso del Servicio y otras estadísticas.
        </p>
        <p><strong>Cookies</strong></p>
        <p>
            Las cookies son archivos con una pequeña cantidad de datos que se usan comúnmente como identificadores únicos anónimos. Estos se envían a su navegador desde los sitios web que visita y se almacenan en la memoria interna de su dispositivo.
        </p>
        <p>
            Este servicio no utiliza estas "cookies" explícitamente. Sin embargo, la aplicación puede usar código de terceros y bibliotecas que usan "cookies" para recopilar información y mejorar sus servicios. Tiene la opción de aceptar o rechazar estas cookies y saber cuándo se envía una cookie a su dispositivo. Si elige rechazar nuestras cookies, es posible que no pueda usar algunas partes de este Servicio.
        </p>
        <p><strong>Proveedores de servicio</strong></p>
        <p>
            Puedo emplear a empresas e individuos de terceros debido a las siguientes razones:
        </p>
        <ul>
            <li>Para facilitar el servicio;</li>
            <li>Para proporcionar el Servicio en mi nombre;</li>
            <li>Para realizar servicios relacionados con el Servicio;</li>
            <li>Para ayudarme a analizar cómo se utiliza el Servicio.</li>
        </ul>
        <p>
            Deseo informar a los usuarios de este Servicio que estos terceros tienen acceso a su Información personal. La razón es realizar las tareas que se les asignaron en nuestro nombre. Sin embargo, están obligados a no divulgar ni utilizar la información para ningún otro propósito.
        </p>
        <p><strong>Seguridad</strong></p>
        <p>
            Valoro su confianza en proporcionarme su información personal, por lo tanto, me esfuerzo por utilizar medios comercialmente aceptables para protegerla. Pero recuerde que ningún método de transmisión por Internet o método de almacenamiento electrónico es 100% seguro y confiable, y no puedo garantizar su seguridad absoluta.
        </p>
        <p><strong>Enlaces a otros sitios</strong></p>
        <p>
            Este servicio puede contener enlaces a otros sitios. Si hace clic en un enlace de un tercero, será dirigido a otro sitio. Tenga en cuenta que estos sitios externos no son operados por mí. Por lo tanto, le recomiendo que revise la Política de privacidad de estos sitios web. No tengo control ni asumo ninguna responsabilidad por el contenido, las políticas de privacidad o las prácticas de sitios o servicios de terceros.
        </p>
        <p><strong>Privacidad de los niños</strong></p>
        <p>
            Estos Servicios no se dirigen a ninguna persona menor de 13 años. No recopilo a sabiendas información de identificación personal de niños menores de 13 años. En el caso de que descubra que un niño menor de 13 años me ha proporcionado información personal, la borro inmediatamente de mis servidores. Si usted es padre o tutor y sabe que su hijo me ha brindado información personal, comuníquese conmigo para que pueda realizar las acciones necesarias.
        </p>
        <p><strong>Cambios a esta política de privacidad</strong></p>
        <p>
            Puedo actualizar la Política de privacidad de vez en cuando. Por lo tanto, se recomienda que revise esta página periódicamente en busca de cambios. Le notificaré cualquier cambio publicando la nueva Política de privacidad en esta página. Estos cambios son efectivos inmediatamente después de su publicación en esta página.
        </p>
        <p><strong>Contáctame</strong></p>
        <p>
            Si tiene alguna pregunta o sugerencia sobre mi Política de privacidad, no dude en ponerse en contacto conmigo en LMBGOTT@GMAIL.COM
        </p>
    </div>
</ion-content>
