<ion-header>
    <ion-toolbar>
        <ion-title>Bienvenidos</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list style="padding: 0 30px;">
        <ion-item *ngFor="let idioma of listaDeIdiomas" (click)="seleccionarEsteIdioma(idioma)"
            style="padding: 0;"
            id="idioma-{{idioma.indice}}">
            <ion-label dir="{{ idioma.dir }}"
                [ngClass]="{'seleccionado': idioma.indice === ididomaSeleccionado.indice}">
                {{ idioma.Autoglotonimo }}
            </ion-label>
        </ion-item>
    </ion-list>
    <div style="height: 120px; width: 1px; display: block;">
    </div>

    <ion-fab vertical="bottom" horizontal="start" slot="fixed"  *ngIf="ididomaSeleccionado.indice !== null">
        <ion-fab-button color="primary" (click)="guardar()">
            <ion-icon name="checkmark-circle"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="danger" (click)="dismiss()">
            <ion-icon name="close-circle"></ion-icon>
        </ion-fab-button>
    </ion-fab>


</ion-content>