<ion-header>
    <ion-toolbar>
        <!--ion-title>Bienvenidos</ion-title-->
        <ion-grid>
            <ion-row >
                <ion-col size="12">
                    <div class="div-de-busqueda">
                        <table style="width: 100%">
                            <tr>
                                <td style="text-align: center; width: 43px;">
                                    <ion-icon name="search" style="padding: 10px;" (click)="focusOnBuscar()"></ion-icon>
                                </td>
                                <td>
                                    <input type="text" name="palabraDeBusquedaIdioma"
                                        id="palabraDeBusquedaIdioma"
                                        [(ngModel)]="palabraDeBusquedaIdioma" (ngModelChange)="buscar()"
                                        class="cuadro-de-busqueda">
                                </td>
                                <td style="text-align: center; width: 43px;" *ngIf="palabraDeBusquedaIdioma">
                                    <ion-icon name="close-circle" style="padding: 10px;" (click)="cancelarBusqueda()"></ion-icon>
                                </td>
                            </tr>
                        </table>                    
                    </div>

                </ion-col>
            </ion-row>
        </ion-grid>        
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list style="padding: 0 30px;">
        <ion-item *ngFor="let idioma of listaDeIdiomas" (click)="seleccionarEsteIdioma(idioma)"
            style="padding: 0;"
            id="idioma-{{idioma.indice}}">
            <ion-label dir="{{ idioma.dir }}"
                [ngClass]="{'seleccionado': idioma.indice === ididomaSeleccionado.indice}">
                {{ idioma.Autoglotonimo }}
            </ion-label>
        </ion-item>
    </ion-list>
    <div style="height: 80px; width: 1px; display: block;"></div>

    <ion-fab vertical="bottom" horizontal="start" slot="fixed"  *ngIf="ididomaSeleccionado.indice !== null">
        <ion-fab-button id="cambiar-idioma" color="primary" (click)="guardar()">
            <ion-icon name="checkmark-circle"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button id="cancelar-cambiar-idioma" color="danger" (click)="dismiss()">
            <ion-icon name="close-circle"></ion-icon>
        </ion-fab-button>
    </ion-fab>


</ion-content>