.seleccionado {
    background-color: #3880ff;
    border-top-width: 11px;
    border-bottom: 10px;
    border-color: #3880ff;
    border-style: solid;
    color: white;
    font-size: 20px;
}

.cuadro-de-busqueda{
    /*background-color: gray;*/
    width: 100%;
    border: none; // for black border
    outline: none;
    height: 39px;
}

.cuadro-de-busqueda:focus, .cuadro-de-busqueda:focus{
    outline: none;
}

.div-de-busqueda {
    margin: 15px 0;
    border: 1px solid #797979 !important;
    -webkit-border-radius: 25px !important;
    -moz-border-radius: 25px !important;
    border-radius: 25px !important;
    overflow: hidden;
}
