<ion-header>
    <ion-toolbar>
        <ion-title>Bienvenidos</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list>
        <ion-item *ngFor="let idioma of listaDeIdiomas" (click)="seleccionarEsteIdioma(idioma)">
            <ion-label
                [ngClass]="{'seleccionado': idioma.indice === ididomaSeleccionado.indice}"
                style="text-align: center;">
                {{ idioma.Autoglotonimo }}
            </ion-label>
        </ion-item>
    </ion-list>

    <ion-fab vertical="bottom" horizontal="start" slot="fixed"  *ngIf="ididomaSeleccionado.indice !== null">
        <ion-fab-button color="primary" (click)="guardar()">
            <ion-icon name="checkmark-circle"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="danger" (click)="dismiss()">
            <ion-icon name="close-circle"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>