.tabla-menu{
    width: 100%;
    /*background-color: #e2dfdf;*/
    background-color: white;
    border-width: 0.55px;
    border-top-style: solid;
    border-color: #d8d8d8;

	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;

	overflow: hidden;

}