<ion-header>
  <ion-toolbar>
    <ion-title> {{ pageTitle }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-grid style="background-color: #f5f7fa;">
        <ion-item>
            <ion-label position="stacked">Titulo</ion-label>
            <ion-input required [(ngModel)]="tituloDeEntrada"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>Fecha</ion-label>
            <ion-datetime displayFormat="DD MMMM YYYY" max="2100-12-31"
                [(ngModel)]="fechaDeEntrada"
                doneText="ok"
                cancelText="Cancelar"
                monthNames="Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agosto, Septiembre, Octubre, Noviembre, Diciembre">
            </ion-datetime>
        </ion-item>
        <ion-item>
            <ion-label>Hora</ion-label>
            <ion-datetime displayFormat="HH:mm" [(ngModel)]="horaDeEntrada"
                doneText="ok"
                cancelText="Cancelar">
            </ion-datetime>
        </ion-item>

        <ion-item>
<pre>
id: string;
titulo: string;
fecha: string;
year: number;
mes: number;
nombre_mes: string;
dia: number;
hora: number;
minuto: number;
segundo: number;
pasado: boolean;                
</pre>
        </ion-item>



        <ion-button size="small" (click)="guardar()" style="margin-top: 16px;">Guardar</ion-button>
        <ion-button size="small" (click)="dismiss()" style="margin-top: 16px;" color="tertiary">Cancelar</ion-button>

    </ion-grid>

</ion-content>
