<ion-header>
  <ion-toolbar>
    <ion-title> {{ pageTitle }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-grid style="background-color: #f5f7fa;">
        <!--ion-item>
            <ion-label position="stacked">Titulo</ion-label>
            <ion-input required [(ngModel)]="tituloDeEntrada"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>Fecha</ion-label>
            <ion-datetime displayFormat="DD MMMM YYYY" max="2100-12-31"
                [(ngModel)]="fechaDeEntrada"
                doneText="ok"
                cancelText="Cancelar"
                monthNames="Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agosto, Septiembre, Octubre, Noviembre, Diciembre">
            </ion-datetime>
        </ion-item>
        <ion-item>
            <ion-label>Hora</ion-label>
            <ion-datetime displayFormat="HH:mm" [(ngModel)]="horaDeEntrada"
                doneText="ok"
                cancelText="Cancelar">
            </ion-datetime>
        </ion-item-->

        <ion-item>
            <ion-label position="floating">{{ idiomaService.idioma_seleccionado.Title }}</ion-label>
            <ion-input required [(ngModel)]="titulo_de_entrada"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">{{ idiomaService.idioma_seleccionado.Year }}</ion-label>
            <ion-input required [(ngModel)]="year_de_entrada" type="number"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">{{ idiomaService.idioma_seleccionado.Month }}</ion-label>
                <ion-select [(ngModel)]="mes_de_la_entrada" placeholder="{{idiomaService.idioma_seleccionado['Select One']}}">
                <ion-select-option *ngFor="let mes of idiomaService.idioma_seleccionado.Months" [value]="mes.value">{{ mes.name }}</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label position="floating">{{ idiomaService.idioma_seleccionado.Day }}</ion-label>
            <ion-select [(ngModel)]="dia_de_la_entrada" placeholder="{{idiomaService.idioma_seleccionado['Select One']}}">
                <ion-select-option *ngFor="let dia of lista_de_dias" [value]="dia">{{ dia }}</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label position="floating">{{ idiomaService.idioma_seleccionado.Hour }}</ion-label>
            <ion-select [(ngModel)]="hora_de_la_entrada" placeholder="{{idiomaService.idioma_seleccionado['Select One']}}">
                <ion-select-option *ngFor="let hora of lista_de_horas" [value]="hora">{{ hora  | number:'2.0' }}</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label position="floating">{{ idiomaService.idioma_seleccionado.Minute }}</ion-label>
            <ion-select [(ngModel)]="minuto_de_la_entrada" placeholder="{{idiomaService.idioma_seleccionado['Select One']}}">
                <ion-select-option *ngFor="let minuto of lista_CINCUENTA_Y_NUEVE" [value]="minuto">{{ minuto  | number:'2.0' }}</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label position="floating">{{ idiomaService.idioma_seleccionado.Second }}</ion-label>
            <ion-select [(ngModel)]="segundo_de_la_entrada" placeholder="{{idiomaService.idioma_seleccionado['Select One']}}">
                <ion-select-option *ngFor="let segundo of lista_CINCUENTA_Y_NUEVE" [value]="segundo">{{ segundo  | number:'2.0' }}</ion-select-option>
            </ion-select>
        </ion-item>

<!--pre>
    id: string;
    *titulo: string;
        fecha: string;
    year: number;
    mes: number;
    nombre_mes: string;
    *dia: number;
    hora: number;
    minuto: number;
    segundo: number;
    pasado: boolean;                
</pre-->

    </ion-grid>

    <!--ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="primary" (click)="guardar()">
            <ion-icon name="checkmark-circle"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <ion-fab vertical="bottom" horizontal="start" slot="fixed">
        <ion-fab-button color="danger" (click)="dismiss()">
            <ion-icon name="close-circle"></ion-icon>
        </ion-fab-button>
    </ion-fab-->

    <table class="tabla-menu">
        <tr>
            <td style="background: #0cd1e8; width: 50%; text-align: center; vertical-align: middle;">
                <!--ion-buttons slot="primary" class="eliminar" style="float: left;">
                    <ion-button color="primary" (click)="guardar()">
                        <ion-icon slot="icon-only" name="checkmark-circle" style="color: white;"></ion-icon>
                    </ion-button>
                </ion-buttons-->
                <span color="primary" (click)="guardar()" style="width: 100%; display: block; font-size: 38px;">
                    <ion-icon slot="icon-only" name="checkmark-circle" style="color: white;"></ion-icon>
                </span>
            </td>
            <td style="background: #f04141; text-align: center; vertical-align: middle;">

                <span color="primary" (click)="dismiss()" style="width: 100%; display: block; font-size: 38px;">
                    <ion-icon slot="icon-only" name="close-circle" style="color: black;"></ion-icon>
                </span>

                <!--ion-buttons slot="primary" class="eliminar">
                    <ion-button (click)="dismiss()">
                        <ion-icon slot="icon-only" name="close-circle" style="text-align: right; color: black;"></ion-icon>
                    </ion-button>
                </ion-buttons-->
            </td>
        </tr>
    </table>


</ion-content>
