<ion-header>
  <ion-toolbar>
    <ion-title> {{ pageTitle }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-grid style="background-color: #f5f7fa;">

        <ion-row>
            <ion-col size="12">
                <ion-item>
                    <ion-label position="floating">{{ idiomaService.idioma_seleccionado.Title }}</ion-label>
                    <ion-input id="titulo-del-evento" required [(ngModel)]="titulo_de_entrada"></ion-input>
                </ion-item>
                <div class="titulo-invalido" [hidden]="tituloValido()">
                    {{ idiomaService.idioma_seleccionado.Invalid_Title }}
                </div>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="3">
                <ion-item>
                    <ion-label position="floating">{{ idiomaService.idioma_seleccionado.Year }}</ion-label>
                    <ion-input id="year-del-evento" required [(ngModel)]="year_de_entrada" type="number"></ion-input>
                </ion-item>
                <div class="titulo-invalido" [hidden]="yearValido()">
                    {{ idiomaService.idioma_seleccionado.Invalid_Year }}
                </div>
            </ion-col>
            <ion-col size="6">
                <ion-item>
                    <ion-label position="floating">{{ idiomaService.idioma_seleccionado.Month }}</ion-label>
                        <ion-select
                            id="mes-del-evento"
                            [(ngModel)]="mes_de_la_entrada"
                            placeholder="{{idiomaService.idioma_seleccionado['Select One']}}"
                            okText="{{idiomaService.idioma_seleccionado['Accept']}}"
                            cancelText="{{idiomaService.idioma_seleccionado['Cancel']}}">
                        <ion-select-option *ngFor="let mes of idiomaService.idioma_seleccionado.Months" [value]="mes.value">{{ mes.name }}</ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-col>
            <ion-col size="3">
                <ion-item>
                    <ion-label position="floating">{{ idiomaService.idioma_seleccionado.Day }}</ion-label>
                    <ion-select
                        id="dia-del-evento"
                        [(ngModel)]="dia_de_la_entrada" placeholder="{{idiomaService.idioma_seleccionado['Select One']}}"
                        okText="{{idiomaService.idioma_seleccionado['Accept']}}"
                        cancelText="{{idiomaService.idioma_seleccionado['Cancel']}}">
                        <ion-select-option *ngFor="let dia of lista_de_dias" [value]="dia">{{ dia }}</ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="4">
                <ion-item>
                    <ion-label position="floating">{{ idiomaService.idioma_seleccionado.Hour }}</ion-label>
                    <ion-select
                        id="hora-del-evento"
                        [(ngModel)]="hora_de_la_entrada" placeholder="{{idiomaService.idioma_seleccionado['Select One']}}"
                        okText="{{idiomaService.idioma_seleccionado['Accept']}}"
                        cancelText="{{idiomaService.idioma_seleccionado['Cancel']}}">
                        <ion-select-option *ngFor="let hora of lista_de_horas" [value]="hora">{{ hora  | number:'2.0' }}</ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-col>
            <ion-col size="4">
                <ion-item>
                    <ion-label position="floating">{{ idiomaService.idioma_seleccionado.Minute }}</ion-label>
                    <ion-select
                        id="minuto-del-evento"
                        [(ngModel)]="minuto_de_la_entrada" placeholder="{{idiomaService.idioma_seleccionado['Select One']}}"
                        okText="{{idiomaService.idioma_seleccionado['Accept']}}"
                        cancelText="{{idiomaService.idioma_seleccionado['Cancel']}}">
                        <ion-select-option *ngFor="let minuto of lista_CINCUENTA_Y_NUEVE" [value]="minuto">{{ minuto  | number:'2.0' }}</ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-col>
            <ion-col size="4">
                <ion-item>
                    <ion-label position="floating">{{ idiomaService.idioma_seleccionado.Second }}</ion-label>
                    <ion-select
                        id="segundo-del-evento"
                        [(ngModel)]="segundo_de_la_entrada" placeholder="{{idiomaService.idioma_seleccionado['Select One']}}"
                        okText="{{idiomaService.idioma_seleccionado['Accept']}}"
                        cancelText="{{idiomaService.idioma_seleccionado['Cancel']}}">
                        <ion-select-option *ngFor="let segundo of lista_CINCUENTA_Y_NUEVE" [value]="segundo">{{ segundo  | number:'2.0' }}</ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-col>
        </ion-row>



        <ion-row>
            <ion-col size="12">
                <table class="tabla-menu">
                    <tr>
                        <td style="background: #3880ff; width: 50%; text-align: center; vertical-align: middle; ">
                            <span id="guardar-evento" class="ripple" color="primary" (click)="guardar()" style="width: 100%; display: block; font-size: 38px; padding-top: 8px;">
                                <ion-icon slot="icon-only" name="checkmark-circle" style="color: white;"></ion-icon>
                            </span>
                        </td>
                        <td style="background: #0cd1e8; text-align: center; vertical-align: middle;">
                            <span id="cancelar-guardar-evento" class="ripple" color="primary" (click)="dismiss()" style="width: 100%; display: block; font-size: 38px; padding-top: 8px;">
                                <ion-icon slot="icon-only" name="backspace" style="color: black;"></ion-icon>
                            </span>
                        </td>
                    </tr>
                </table>
            </ion-col>
        </ion-row>

        <ion-item [hidden]="!fecha_invalida">
            <div class="mensaje-de-error">
                <table>
                    <tr>
                        <td>
                            <ion-icon name="bug"></ion-icon>
                        </td>
                        <td>
                            {{ idiomaService.idioma_seleccionado.Invalid_Date }}
                        </td>
                    </tr>
                </table>
            </div>
        </ion-item>

    </ion-grid>

    <!--ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="primary" (click)="guardar()">
            <ion-icon name="checkmark-circle"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <ion-fab vertical="bottom" horizontal="start" slot="fixed">
        <ion-fab-button color="danger" (click)="dismiss()">
            <ion-icon name="close-circle"></ion-icon>
        </ion-fab-button>
    </ion-fab-->



</ion-content>
