// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .picker-wrapper.sc-ion-picker-ios {
        bottom: auto !important;
        top: 0 !important;
    }

    .action-sheet-container.sc-ion-action-sheet-ios {
        display: block;
    }
}

.searchbar-input{
    background-color: #061835 !important;
    -webkit-border-radius: 25px !important;
    -moz-border-radius: 25px !important;
    border-radius: 25px !important;
    border: 1px solid #797979 !important;
    color: white !important;
}

/* Ripple effect */
.ripple {
    background-position: center;
    transition: background 0.1s;
}
.ripple:hover {
    background: #47a7f5 radial-gradient(circle, transparent 1%, #69847ebf 1%) center/15000%;
}
.ripple:active {
    background-color: #cacaca;
    background-size: 100%;
    transition: background 0s;
}