.welcome-card {
    border: 1px solid #272e41;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.welcome-card ion-img {
    max-height: 35vh;
    overflow: hidden;
}

.text-right {
    text-align: right;
}

.borde-inferior {
    border-bottom: 1px solid #c9bbbb42;
}

.label-fecha {
	font-size: 9px;
	text-align: left;
}

.eliminar-td{
    background-color: red;
    color: black;
} 

.eliminar {
    float: right;
    margin-bottom: 8px;
    margin-top: 5px;
}

.pasado {
    background-color: #e3dfdf;
}

.tabla-menu{
    width: 100%;
    /*background-color: #e2dfdf;*/
    background-color: white;
    border-width: 0.55px;
    border-top-style: solid;
    border-color: #d8d8d8;
}

ion-card {
    margin: 16px 0 0 0 !important;
}

ion-content { 
    --background: -webkit-linear-gradient(135deg, #08264c, #0c0828);
    --background: linear-gradient(135deg, #08264c, #0c0828);
}
