<ion-header>
    <ion-toolbar>
    <ion-buttons slot="start" style="display: none;">
        <ion-menu-button></ion-menu-button>
    </ion-buttons>
        <ion-title>
            Mimuqui
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-fab vertical="top" edge horizontal="end" slot="fixed" style="margin-top: -15px;">
        <ion-fab-button (click)="mostrarFomulario()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>


    <!-- ion-grid *ngIf="!mostrarFormulario">
        <ion-button expand="full" size="small" (click)="mostrarFormulario = true">Agregar Fecha</ion-button>
        <ion-button expand="full" size="small" (click)="usarSemilla()">usar semilla</ion-button>
    </ion-grid-->

    <div class="row responsive-sm" *ngIf="false">
        <div class="col" style="text-align: center;">
            {{ fechaDeHoy.format('YYYY-MM-DD HH:mm:ss') }}
        </div>
    </div>

    <!-- ion-button expand="full" size="small" (click)="debug()">debug</ion-button-->

    <ion-grid>
        <ion-row>
            <ion-col size="10">
                <ion-searchbar placeholder="Búscar" [(ngModel)]="palabraDeBusqueda" (ionChange)="buscar()"></ion-searchbar>
            </ion-col>
            <ion-col size="2">
                 <ion-button size="small" (click)="mostrarMenuDeOrdenamiento()" style="margin-top: 16px;">...</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid>
        <ion-row>
            <ion-col *ngFor="let entrada of this.listaFiltrada " size-lg="4" size-md="6" size-sm="6" size-xs="12">
                <ion-card class="welcome-card" style="text-align: center;" [ngClass]="{'pasado': entrada.pasado }">
                    <!--app-detalle [entrada]="entrada"></app-detalle-->

                    <h2 style="color: black;">{{ entrada.titulo }}</h2>

                    año {{ entrada.year }}<br>
                    mes {{ entrada.mes }}<br>
                    día {{ entrada.dia }}<br>
                    hora {{ entrada.hora }}<br>
                    minuto {{ entrada.minuto }}<br>
                    segundo {{ entrada.segundo }}<br>
                    <br>

                    <table class="tabla-menu">
                        <tr>
                            <td>
                                <ion-buttons slot="primary" class="eliminar" style="float: left;">
                                    <ion-button color="primary" (click)="editar(entrada)">
                                        <ion-icon slot="icon-only" name="create"></ion-icon>
                                    </ion-button>
                                </ion-buttons>
                            </td>
                            <td>

                                <ion-buttons slot="primary" class="eliminar" style="float: none !important;">
                                    <ion-button color="primary" (click)="mostarDetalle(entrada)" style="margin: 0 auto;">
                                        <ion-icon slot="icon-only" name="clock" style="text-align: center;"></ion-icon>
                                    </ion-button>
                                </ion-buttons>

                            <td>
                                <ion-buttons slot="primary" class="eliminar">
                                    <ion-button color="primary" (click)="intentarEliminar(entrada.id)">
                                        <ion-icon slot="icon-only" name="trash" style="text-align: right;"></ion-icon>
                                    </ion-button>
                                </ion-buttons>
                            </td>
                        </tr>
                    </table>



                </ion-card>
            </ion-col>  
        </ion-row>
    </ion-grid>


</ion-content>
