.welcome-card {
    border: 1px solid #272e41;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.welcome-card ion-img {
    max-height: 35vh;
    overflow: hidden;
}

.text-right {
    text-align: right;
}

.borde-inferior {
    border-bottom: 1px solid #c9bbbb42;
}

.label-fecha {
	font-size: 9px;
	text-align: left;
}

.eliminar-td{
    background-color: red;
    color: black;
} 

.eliminar {
    float: right;
    margin-bottom: 8px;
    margin-top: 5px;
}

.pasado {
    background-color: transparent;
}

.tabla-menu{
    width: 100%;
    /*background-color: #e2dfdf;*/
    background-color: white;
    border-width: 0.55px;
    border-top-style: solid;
    border-color: #d8d8d8;
}

ion-card {
    margin: 16px 0 0 0 !important;
}

ion-content { 
    --background: -webkit-linear-gradient(135deg, #08264c, #0c0828);
    --background: linear-gradient(135deg, #08264c, #0c0828);
}

.mi-boton{
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 6px 18px;
    margin-right: 8px;
}

.boton-editar {
    background-color: #00DCB0;
    color: #232b44;
}

.boton-eliminar {
    background-color: #e9254e;
    color: #fefafb;
}

.cuadro-de-busqueda{
    background-color: #061835 !important;
    -webkit-border-radius: 25px !important;
    -moz-border-radius: 25px !important;
    border-radius: 25px !important;
    border: 1px solid #797979 !important;
    color: white !important;
    width: 100%;
    height: 29px;
    margin-top: 15px;
    padding: 0 20px;
}

.cuadro-de-busqueda:focus, .cuadro-de-busqueda:focus{
    outline: none;
}