<ion-header>
    <ion-toolbar>
    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
    </ion-buttons>
        <ion-title>
            Reloj
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="row responsive-sm">
        <div class="col" style="text-align: center;">
            {{ fechaDeHoy.format('YYYY-MM-DD HH:mm:ss') }}
        </div>
    </div>
  
    <ion-card class="welcome-card">
        <ion-img src="/assets/shapes.svg"></ion-img>
        <ion-card-header>
            <ion-card-subtitle>META 01 de enero del año 2021</ion-card-subtitle>
            <ion-card-title>Final de la espera</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <table style="margin: 0 auto;">
                <tr>
                    <td>
                        {{diferenciaEnYears}}
                    </td>
                    <td>
                        año<span *ngIf="diferenciaEnYears > 1">s</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        {{diferenciaEnMeses}}
                    </td>
                    <td>
                        mese<span *ngIf="diferenciaEnMeses > 1">s</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        {{diferenciaEnDias}}
                    </td>
                    <td>
                        día<span *ngIf="diferenciaEnDias > 1">s</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        {{diferenciaEnHoras}}
                    </td>
                    <td>
                        hora<span *ngIf="diferenciaEnHoras > 1">s</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        {{diferenciaEnMinutos}}
                    </td>
                    <td>
                        minuto<span *ngIf="diferenciaEnMinutos > 1">s</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        {{diferenciaEnSegundos}}
                    </td>
                    <td>
                        segundo<span *ngIf="diferenciaEnSegundos > 1">s</span>
                    </td>
                </tr>
            </table>
        </ion-card-content>
    </ion-card>
</ion-content>
