.welcome-card ion-img {
    max-height: 35vh;
    overflow: hidden;
}

.text-right {
    text-align: right;
}

.borde-inferior {
    border-bottom: 1px solid #c9bbbb42;
}

.label-fecha {
	font-size: 9px;
	text-align: left;
}

.eliminar {
    float: right;
    margin-bottom: 8px;
    margin-top: 5px;
}