.welcome-card ion-img {
    max-height: 35vh;
    overflow: hidden;
}

.text-right {
    text-align: right;
}

.borde-inferior {
    border-bottom: 1px solid #c9bbbb42;
}

.label-fecha {
	font-size: 20px;
	text-align: left;
    vertical-align: middle;
}

.numero {
    text-align: right;
    font-size: 24px;
    /*font-family: monospace;*/
    font-family: Share_Tech_Mono-Regular;
}

ion-card-content {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

ion-card-header{
    padding-bottom: 0px;
    padding-top: 5px;    
}

.titulo-de-tiempo{
    background-color: #3f3f63; text-align: center; font-size: 18px; border-radius: 5px;
}

.pasado {
    background-color: #28344066 !important;
}

.pasado .titulo-de-tiempo {
    background-color: #323240;
}

.titulo {
    font-size: 4vmin !important;
    text-align: center;
}

@font-face {
  font-family: 'Orbitron';
  src: url('../../../assets/fonts/Orbitron/Orbitron-Regular.ttf') format("truetype");


}

@font-face {
  font-family: 'Pathway_Gothic_One';
  src: url('../../../assets/fonts/Pathway_Gothic_One/PathwayGothicOne-Regular.ttf') format("truetype");
}

@font-face {
  font-family: 'Share_Tech_Mono-Regular';
  src: url('../../../assets/fonts/Share_Tech_Mono/ShareTechMono-Regular.ttf') format("truetype");
}

.numero-de-reloj {
    font-family: 'Orbitron';
    font-size: 14vmin !important;
}

.indicador-de-cifra {
    font-family: 'Pathway_Gothic_One';
    font-size: 7vmin !important;
}

@keyframes slidein {
    /* 0%   {margin-left:1500px;} */
    /* 100% {margin-left:0px;} */

    0%   {height: 0px;} 
    100% {height: 232px;}     
}

@keyframes slideout {
    /* 0%   {margin-left:1500px;} */
    /* 100% {margin-left:0px;} */

    100%   {height: 0px;} 
    0% {height: 232px;}     
}


.note {
    animation-name: slidein;
    animation-duration: 0.2s;
    display: block;
    overflow: hidden;
}

.abrir {
    animation-name: slidein;
    animation-duration: 0.2s;
    display: block;
    overflow: hidden;
}

.cerrar {
    animation-name: slideout;
    animation-duration: 0.2s;
    display: block;
    overflow: hidden;
}

.border-separador {
    border-bottom: 1px solid #403939;
}

.barra-de-compartir {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #90ee90;
}

.contenido-de-la-carta {
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color:  #091126;
}

.cifra-en-zero {
    color: #404040;
}

.circulo-por-cubrir {
    margin: 0 auto;
    width: 150px;
    height: 150px;
    background: #484848;
    border-radius: 98px;
    position: relative;
    z-index: 1;
    -moz-border-radius: 98px; 
    -webkit-border-radius: 98px; 
}

.circulo-central {
    top: 31px;
    left: 31px;
    display: block;
    width: 88px;
    height: 88px;
    background: #091126;
    border-radius: 79px;
    position: relative;
}

.label-fecha-entrada {
    color: #9e9e9e;
    font-size: 12px;
}

.valor-fecha-entrada {
    color: #d2d2d2;
    font-size: 16px;
}