<ion-card class="welcome-card">
    <ion-card-header>
        <ion-card-subtitle>
            {{entrada.fecha | date: 'dd/MM/yyyy'}}
        </ion-card-subtitle>
        <ion-card-title>
            {{entrada.titulo}} 
        </ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <table style="margin: 0 auto;">
            <tr class="borde-inferior">
                <td class="text-right">
                    {{diferenciaEnYears}}
                </td>
                <td>
                    &nbsp;Año<span *ngIf="diferenciaEnYears > 1">s</span>
                </td>
            </tr>
            <tr class="borde-inferior">
                <td class="text-right">
                    {{diferenciaEnMeses}}
                </td>
                <td>
                    &nbsp;Mese<span *ngIf="diferenciaEnMeses > 1">s</span>
                </td>
            </tr>
            <tr class="borde-inferior">
                <td class="text-right">
                    {{diferenciaEnDias}}
                </td>
                <td>
                    &nbsp;Día<span *ngIf="diferenciaEnDias > 1">s</span>
                </td>
            </tr>
            <tr class="borde-inferior">
                <td class="text-right">
                    {{diferenciaEnHoras}}
                </td>
                <td>
                    &nbsp;Hora<span *ngIf="diferenciaEnHoras > 1">s</span>
                </td>
            </tr>
            <tr class="borde-inferior">
                <td class="text-right">
                    &nbsp;{{diferenciaEnMinutos}}
                </td>
                <td>
                    &nbsp;Minuto<span *ngIf="diferenciaEnMinutos > 1">s</span>
                </td>
            </tr>
            <tr class="borde-inferior">
                <td class="text-right">
                    {{diferenciaEnSegundos}}
                </td>
                <td>
                    &nbsp;Segundo<span *ngIf="diferenciaEnSegundos > 1">s</span>
                </td>
            </tr>
            <tr style="color: white;">
                <td>
                    999
                </td>
                <td>
                    SEGUNDOS
                </td>
            </tr>
        </table>

        <ion-buttons slot="primary">
            <ion-button color="secondary" (click)="intentarEliminar(entrada.id)">
                Eliminar<ion-icon slot="icon-only" name="trash" style="text-align: right;"></ion-icon>
            </ion-button>
        </ion-buttons>

    </ion-card-content>
</ion-card>