<div id="{{ entrada.id }}" (click)="seleccionar_reloj(entrada.id)"> <!-- [ngClass]="{'pasado': pasado}" -->
    <ion-card-header *ngIf="idiomaService.idioma_seleccionado" style="padding: 0;">
        <div style="background-color: #272e41; padding: 13px 20px;">
            <!-- {{ idiomaService.idioma_seleccionado.Day }} {{ entrada.dia }},
            {{ idiomaService.idioma_seleccionado.Month }} {{ nombreDeMes(entrada.mes) }},
            {{ idiomaService.idioma_seleccionado.Year }} {{ entrada.year }} <br>
            {{ idiomaService.idioma_seleccionado.Hour }} {{ entrada.hora }},
            {{ idiomaService.idioma_seleccionado.Minute }} {{entrada.minuto}},
            {{ idiomaService.idioma_seleccionado.Second }} {{ entrada.segundo}}<br>-->
            <b style="font-size: 18px; color: white;">{{entrada.titulo}} </b><!--label>{{ entrada.id  }}</label-->
        </div>

    </ion-card-header>
    <ion-card-content class="contenido-de-la-carta">
        <!--ion-fab vertical="bootom" horizontal="center" edge slot="fixed">
            <ion-fab-button>
                <ion-icon name="share"></ion-icon>
            </ion-fab-button>
            <ion-fab-list side="end">
                <ion-fab-button (click)="shareWhatsApp()">
                    <ion-icon name="logo-whatsapp"></ion-icon>
                </ion-fab-button>
                <ion-fab-button (click)="copyToClipBoard()">
                    <ion-icon name="copy"></ion-icon>
                </ion-fab-button>
            </ion-fab-list>
        </ion-fab-->


        <ion-grid *ngIf="entrada.id === get_id_Seleccionado()" [ngClass]="{'abrir': entrada.id === get_id_Seleccionado(), 'cerrar': entrada.id !== get_id_Seleccionado() }">
            <ion-row style="display: none;">
                <ion-col>
                    <table width="100%" class="barra-de-compartir">
                        <tr>
                            <td style="text-align: center">
                                <ion-button size="medium" color="light" (click)="compartirConCapacitor()">
                                    {{ idiomaService.idioma_seleccionado.Share }}
                                    <ion-icon name="share" slot="end"></ion-icon>
                                </ion-button>
                            </td>
                        </tr>
                    </table>
                </ion-col>
            </ion-row>
          <ion-row>
            <ion-col size="12">
                <table style="margin: 0 auto;">
                    <tr [hidden]="diferenciaEnYears == 0" class="border-separador">
                        <td class="label-fecha">
                            {{ idiomaService.idioma_seleccionado.Year }}
                        </td>
                        <td class="numero">
                            {{diferenciaEnYears | number:'2.0'}}
                        </td>
                    </tr> 
                    <tr [hidden]="diferenciaEnYears == 0 && diferenciaEnMeses == 0"
                        class="border-separador">
                        <td class="label-fecha" style="padding-right: 9px; ">
                            {{ idiomaService.idioma_seleccionado.Month }}
                        </td>
                        <td style="padding-left: 9px;" class="numero">
                            {{diferenciaEnMeses | number:'2.0'}}
                        </td>
                    </tr> 
                    <tr [hidden]="diferenciaEnYears == 0 && diferenciaEnMeses == 0 && diferenciaEnDias == 0"
                        class="border-separador">
                        <td class="label-fecha">
                            {{ idiomaService.idioma_seleccionado.Day }}
                        </td>
                        <td class="numero">
                            {{diferenciaEnDias | number:'2.0'}}
                        </td>
                    </tr> 
                    <tr [hidden]="diferenciaEnYears == 0 && diferenciaEnMeses == 0 && diferenciaEnDias == 0 && diferenciaEnHoras == 0"
                        class="border-separador">
                        <td class="label-fecha">
                            {{ idiomaService.idioma_seleccionado.Hour }}
                        </td>
                        <td class="numero">
                            {{diferenciaEnHoras | number:'2.0'}} 
                        </td>
                    </tr> 
                    <tr [hidden]="diferenciaEnYears == 0 && diferenciaEnMeses == 0 && diferenciaEnDias == 0 && diferenciaEnHoras == 0 && diferenciaEnMinutos == 0 "
                        class="border-separador">
                        <td class="label-fecha" style="padding-right: 9px; ">
                            {{ idiomaService.idioma_seleccionado.Minute }}
                        </td>
                        <td style="padding-left: 9px;" class="numero">
                            {{diferenciaEnMinutos | number:'2.0'}}
                        </td>
                    </tr> 
                    <tr>
                        <td class="label-fecha">
                            {{ idiomaService.idioma_seleccionado.Second }}
                        </td>
                        <td class="numero">
                            {{diferenciaEnSegundos | number:'2.0'}} 
                        </td>
                    </tr>
                </table>
            </ion-col>
          </ion-row>

        </ion-grid>
    </ion-card-content>
</div>
