<div [ngClass]="{'pasado': pasado}" id="{{ entrada.id }}" (click)="seleccionar_reloj(entrada.id)">
    <ion-card-header>
        <!-- {{ entrada.fecha  }} <br> -->
        <br>
        Día {{ entrada.fecha.substring(8,10) }} de {{ nombreDeMes(entrada.fecha.substring(5,7)) }} del año  {{ entrada.fecha.substring(0,4) }} <br>
        Hora: {{ entrada.fecha.substring(11, entrada.fecha.length) }} <br>
        <b style="font-size: 18px;">{{entrada.titulo}} </b><label>{{ entrada.id  }}</label>
    </ion-card-header>
    <ion-card-content>

        <!--ion-fab vertical="bootom" horizontal="center" edge slot="fixed">
            <ion-fab-button>
                <ion-icon name="share"></ion-icon>
            </ion-fab-button>
            <ion-fab-list side="end">
                <ion-fab-button (click)="shareWhatsApp()">
                    <ion-icon name="logo-whatsapp"></ion-icon>
                </ion-fab-button>
                <ion-fab-button (click)="copyToClipBoard()">
                    <ion-icon name="copy"></ion-icon>
                </ion-fab-button>
            </ion-fab-list>
        </ion-fab-->


        <ion-grid *ngIf="entrada.id === get_id_Seleccionado()" [ngClass]="{'abrir': entrada.id === get_id_Seleccionado(), 'cerrar': entrada.id !== get_id_Seleccionado() }">
          <ion-row>
            <ion-col size="12">
                <table style="margin: 0 auto;">
                    <tr>
                        <td class="numero">
                            {{diferenciaEnYears}}
                        </td>
                        <td class="label-fecha">
                            {{ idiomaService.idioma_seleccionado.Year }}
                        </td>
                    </tr> 
                    <tr>      
                        <td style="padding-left: 9px;" class="numero">
                            {{diferenciaEnMeses}}
                        </td>
                        <td class="label-fecha" style="padding-right: 9px; ">
                            {{ idiomaService.idioma_seleccionado.Month }}
                        </td>
                    </tr> 
                    <tr>    
                        <td class="numero">
                            {{diferenciaEnDias}}
                        </td>
                        <td class="label-fecha">
                            {{ idiomaService.idioma_seleccionado.Day }}
                        </td>
                    </tr> 
                    <tr>    
                        <td class="numero">
                            {{diferenciaEnHoras}} 
                        </td>
                        <td class="label-fecha">
                            {{ idiomaService.idioma_seleccionado.Hour }}
                        </td>
                    </tr> 
                    <tr>    
                        <td style="padding-left: 9px;" class="numero">
                            {{diferenciaEnMinutos}}
                        </td>
                        <td class="label-fecha" style="padding-right: 9px; ">
                            {{ idiomaService.idioma_seleccionado.Minute }}
                        </td>
                    </tr> 
                    <tr>    
                        <td class="numero">
                            {{diferenciaEnSegundos}} 
                        </td>
                        <td class="label-fecha">
                            {{ idiomaService.idioma_seleccionado.Second }}
                        </td>
                    </tr>
                </table>
            </ion-col>
          </ion-row>
        </ion-grid>
    </ion-card-content>
</div>

