.welcome-card ion-img {
    max-height: 35vh;
    overflow: hidden;
}

.text-right {
    text-align: right;
}

.borde-inferior {
    border-bottom: 1px solid #c9bbbb42;
}

.label-fecha {
	font-size: 9px;
	text-align: left;
    vertical-align: middle;
}

.numero {
    text-align: right;
    font-size: 33px;
    font-family: monospace;
}

ion-card-content {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

ion-card-header{
    padding-bottom: 0px;
    padding-top: 5px;    
}

.pasado {
    background-color: #e3dfdf;
}

.titulo {
    font-size: 4vmin !important;
    text-align: center;
}

@font-face {
  font-family: 'Orbitron';
  src: url('../../../assets/fonts/Orbitron/Orbitron-Regular.ttf') format("truetype");


}

@font-face {
  font-family: 'Pathway_Gothic_One';
  src: url('../../../assets/fonts/Pathway_Gothic_One/PathwayGothicOne-Regular.ttf') format("truetype");
}


.numero-de-reloj {
    font-family: 'Orbitron';
    font-size: 14vmin !important;
}

.indicador-de-cifra {
    font-family: 'Pathway_Gothic_One';
    font-size: 7vmin !important;
}

@keyframes slidein {
    /* 0%   {margin-left:1500px;} */
    /* 100% {margin-left:0px;} */

    0%   {height: 0px;} 
    100% {height: 232px;}     
}

@keyframes slideout {
    /* 0%   {margin-left:1500px;} */
    /* 100% {margin-left:0px;} */

    100%   {height: 0px;} 
    0% {height: 232px;}     
}


.note {
    animation-name: slidein;
    animation-duration: 0.2s;
    display: block;
    overflow: hidden;
}

.abrir {
    animation-name: slidein;
    animation-duration: 0.2s;
    display: block;
    overflow: hidden;
}

.cerrar {
    animation-name: slideout;
    animation-duration: 0.2s;
    display: block;
    overflow: hidden;
}