.welcome-card ion-img {
    max-height: 35vh;
    overflow: hidden;
}

.text-right {
    text-align: right;
}

.borde-inferior {
    border-bottom: 1px solid #c9bbbb42;
}

.label-fecha {
	font-size: 9px;
	text-align: left;
    vertical-align: bottom;
}

.numero {
    text-align: right;
    font-size: 20px;
    font-family: monospace;
}

ion-card-content {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

ion-card-header{
    padding-bottom: 0px;
    padding-top: 5px;    
}

.pasado {
    background-color: #e3dfdf;
}

.titulo {
    font-size: 4vmin !important;
    text-align: center;
}

@font-face {
  font-family: 'Orbitron';
  src: url('../../../assets/fonts/Orbitron/Orbitron-Regular.ttf') format("truetype");


}

@font-face {
  font-family: 'Pathway_Gothic_One';
  src: url('../../../assets/fonts/Pathway_Gothic_One/PathwayGothicOne-Regular.ttf') format("truetype");
}


.numero-de-reloj {
    font-family: 'Orbitron';
    font-size: 14vmin !important;
}

.indicador-de-cifra {
    font-family: 'Pathway_Gothic_One';
    font-size: 7vmin !important;
}